<div class="container">
  <div class="row">
    <div>

      <h4>マイページ</h4>
      <table>
        <thead>
          <tr>
            <td>登録情報</td>
            <td>
              <%= link_to "編集する", edit_customer_path(current_customer.id), class: "btn btn-info col-xs-10 col-xs-offset-1" %>
            </td>
            <td>
              <%= link_to "パスワードを変更する", edit_customer_registration_path, class: "btn btn-info col-xs-10 col-xs-offset-1" %>
            </td>
          </tr>
        </thead>
        <tbody class="profile">
          <tr>
            <td>氏名</td>
            <td><%= current_customer.family_name %> <%= current_customer.first_name %></td>
          </tr>
          <tr>
            <td>カナ</td>
            <td><%= current_customer.kana_family_name %> <%= current_customer.kana_first_name %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= current_customer.zipcode %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= current_customer.address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= current_customer.phone_number %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= current_customer.email %></td>
          </tr>
        </tbody>
      </table>
      <div>
        <div>
          <p>配送先</p>
          <p><%= link_to "一覧を見る", shippings_path(@shippings) %></p>
        </div>
        <div>
          <p>注文履歴</p>
          <p><%= link_to "一覧を見る", orders_path(current_customer.id) %></p>
        </div>
      </div>


    </div>
  </div>
</div>