<h2>商品詳細</h2>
<div class="row">
    <P>商品名<%= @item.name %></P>
    <P>商品説明<%= @item.introduction %></P>
    <p>カテゴリー<%= @item.category %></p>
    <p>税込価格（税抜価格）<%= @item.price %>(<%= @item.price %>)</p>
    
    
</div>