<div class='container'>
  
        <h2><%= @customer.family_name %>     <%= @customer.first_name %>  さんの会員詳細</h2>
        <div class='row'>
        <div class="col-md-8">
        <div class='field'>
            <p>顧客ID         <%= @customer.id %></p>
            <% if @customer.is_deleted == true %>
            <p>退会済み</p>
            <% elsif @customer.is_deleted == false %>
            <p>有効</p>
            <% end %>
        </div>
        <div class='field'>
            <p>氏名           <%= @customer.family_name %>            <%= @customer.first_name %></p>
        </div>
        <div class='field'>
            <p>フリガナ       <%= @customer.kana_family_name %>       <%= @customer.kana_first_name %></p>
        </div>
        <div class='field'>
            <p>郵便番号       <%= @customer.zipcode %></p>
        </div>
        <div class='field'>
            <p>住所           <%= @customer.address %></p>
        </div>
        <div class='field'>
            <p>電話番号       <%= @customer.phone_number %></p>
        </div>
        <div class='field'>
            <p>メールアドレス <%= @customer.email %></p>
        </div>
        
        <%= link_to "編集する", edit_admin_customer_path, class: "btn btn-outline-secondary" %>
        <%= link_to "注文履歴一覧をみる", admin_orders_path, class: "btn btn-outline-secondary" %>
        </div>
    </div>
</div>