<div class='container'>
    <div class="row mt-5 ml-5">
        <h2 class="heading"><%= @customer.family_name %>     <%= @customer.first_name %>  さんの会員詳細</h2>
        <div class="customer_status ml-5">
            <% if @customer.is_deleted == true %>
                <bottun class="btn btn-danger">退会済み</bottun>
            <% elsif @customer.is_deleted == false %>
                <bottun class="btn btn-success">有効</bottun>
            <% end %>
        </div>
    </div>
    <div class='row'>
        <div class="col-lg-7 mx-auto mt-3">
            <table class="table table-bordered">
                <tr>
                    <td>顧客ID</td>
                    <td><%= @customer.id %>
                        
                    </td>
                </tr>
                
                <tr>
                    <td>氏名</td>
                    <td><%= @customer.family_name %>
                    <%= @customer.first_name %></td>
                </tr>
                <tr>
                    <td>フリガナ</td>
                    <td><%= @customer.kana_family_name %>
                    <%= @customer.kana_first_name %></td>
                </tr>
                <tr>
                    <td>郵便番号</td>
                    <td><%= @customer.zipcode %></td>
                </tr>
                <tr>
                    <td>住所</td>
                    <td><%= @customer.address %></td>
                </tr>
                <tr>
                    <td>電話番号</td>
                    <td><%= @customer.phone_number %></td>
                </tr>
                <tr>
                    <td>メールアドレス</td>
                    <td><%= @customer.email %></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 text-center mt-4">
            <%= link_to "編集する", edit_admin_customer_path, class: "btn btn-secondary" %>
            <%= link_to "注文履歴一覧をみる", admin_orders_path, class: "btn btn-secondary ml-5" %>
        </div>
    </div>
</div>