<h1>注文情報確認</h1>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% sum = 0 %>
    <% @cart_items.each do |cart_item| %> <%# <=現状@cart.itemsにはユーザの情報しか入れてないから、itemの情報が取れてるかはわかりません %>
    <tr>
      <td><%= cart_item.item.name %></td>
      <td><%= number_to_currency(cart_item.item.price, strip_insignificant_zeros: true) %></td>
      <td><%= cart_item.quantity  %></td>
      <td><%= number_to_currency(cart_item.subtotal_price, strip_insignificant_zeros: true) %></td>
    </tr>
    <% sum += cart_item.subtotal_price %>
    <% end %>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td>送料</td>
      <td><%= @order.shipping_fee %></td>
    </tr>
    <tr>
      <td>商品合計</td>
      <td><%= number_to_currency(sum, strip_insignificant_zeros: true) %></td>
    </tr>
    <tr>
      <td>請求金額</td>
       <% @order.total_price = sum + @order.shipping_fee %>
      <td><%= number_to_currency(@order.total_price, strip_insignificant_zeros: true) %></td>
    </tr>
  </tbody>
</table>

<h3>支払方法</h3>
<%= @order.payment %>

<h3>お届け先</h3>
<%= @order.zipcode %>
<%= @order.address %>
<%= @order.name %>

<%= form_with model: @order, local: true do |f| %>
<%= f.hidden_field :customer_id, :value => current_customer.id %>
<%= f.hidden_field :shipping_fee, :value => @order.shipping_fee %>
<%= f.hidden_field :payment, :value => @order.payment %>
<%= f.hidden_field :total_price, :value => @order.total_price %>
<%= f.hidden_field :zipcode, :value => @order.zipcode %>
<%= f.hidden_field :address, :value => @order.address %>
<%= f.hidden_field :name, :valie => @order.name %>
<%= f.submit "購入を確定する" %>
<% end %>