<h3>注文履歴詳細</h3>

<strong>注文情報</strong>
<table>
  <tbody>
    <tr>
      <td>注文日</td>
      <td><%= l @order.created_at %></td>
    </tr>
    <tr>
      <td>配送先</td>
      <td><%= @order.zipcode %></br>
          <%= @order.address %></br>
          <%= @order.name %>
      </td>
    </tr>
    <tr>
      <td>支払方法</td>
      <td><%= @order.payment %></td>
    </tr>
    <tr>
      <td>ステータス</td>
      <td><%= @order.status %></td>
    </tr>
  </tbody>
 </table>
 
 <strong>注文内容</strong>
 <table>
   <thead>
     <tr>
       <th>商品</th>
       <th>単価(税込)</th>
       <th>個数</th>
       <th>小計</th>
      </tr>
    </teaad>
    <tbody>
        <% @order.order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.item.name %></td>
        <td><%= order_detail.price %></td>
        <td><%= order_detail.quantity %></td>
        <td><%=number_to_currency(order_detail.total_price, strip_insignificant_zeros: true)  %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
  <strong>請求内容</strong>
   <table>
     <tbody>
       <% sum = 0 %>
        <% @order.order_details.each do |order_detail| %>
         <% sum += order_detail.total_price %>
          <% end %>
        <tr>
          <td>商品合計</td>
          <td><%= sum %></td>
        </tr>
        <tr>
         <td>配送料</td>
         <td><%= @order.shipping_fee %></td>
        </tr>
        <tr>
         <td>ご請求金額</td>
         <td><%= @order.total_price%></td>
        </tr>
      </tbody>
    </table>