<div class="container">
  <div class="row">
    <div>
      <h2>新規会員登録</h2>

      <%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer', local: true do |f| %>
        <%= render "devise/customers/shared/error_messages", resource: resource %>

        <table>
          <tr>
            <td>
              <div>名前</div>
            </td>
            <td>
              <div class="field">
                <%= f.label "(姓)" %>
                <%= f.text_field :family_name, autofocus: true, autocomplete: "山田" %>
              </div>
            </td>
            <td>
              <div class="field">
                <%= f.label "(名)" %>
                <%= f.text_field :first_name, autofocus: true, autocomplete: "花子" %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div>フリガナ</div>
            </td>
            <td>
              <div class="field">
                <%= f.label "(セイ)" %>
                <%= f.text_field :kana_family_name, autofocus: true, autocomplete: "ヤマダ" %>
              </div>
            </td>
            <td>
              <div class="field">
                <%= f.label "(メイ)" %>
                <%= f.text_field :kana_first_name, autofocus: true, autocomplete: "ハナコ" %>
              </div>
            </td>
          </tr>
        </table>

        <div class="field">
          <%= f.label "メールアドレス" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label "郵便番号(ハイフンなし)" %>
          <%= f.text_field :zipcode, autofocus: true, autocomplete: "(例)0000000" %>
        </div>

        <div class="field">
          <%= f.label "住所" %>
          <%= f.text_field :address, autofocus: true, autocomplete: "(例)東京都千代田区****" %>
        </div>

        <div class="field">
          <%= f.label "パスワード(6文字以上)" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label "パスワード(確認用)" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録" %>
        </div>
      <% end %>

      <h4>既に登録済みの方</h4>

      <%= render "devise/customers/shared/links" %>
    </div>
  </div>
</div>