<div class="container">
  <div class="row">
    <div>
      <%# カテゴリー検索画面の部分テンプレート%>
      <%= render "public/items/category", categories: @categories %>
    </div>
    <div>
      <div>
        <%# 商品画像 %>
        <%= attachment_image_tag @item, :image_id, format: "jpg", size: "80x80" %>
      </div>
      <div>
        <%# 商品名 %>
        <%= @item.name %>
      </div>
      <div>
        <%# 商品価格(税込) ←多分税込価格の計算式は間違えてる%>
        <%= number_to_currency(@item.price * 1.1, unit: "￥", strip_insignificant_zeros: true) %>
      </div>
      <div>
        <%# カート作成フォーム linktoの方がいいかな？？<=　itemインスタンスも必要か%>
        <%= form_with model: @cart_item, url:"/cart_items", local:true do |f| %>
          <% if customer_signed_in? %>
            <%# 今の商品とユーザーのIDをcreateアクションに渡してあげる%>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.hidden_field :customer_id, :value => current_customer.id %>
            <%# カートに入れる個数<= これだと多分表示はできるが、在庫にあわせて表示の変更は　%>
            <%= f.select :quantity, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %>
            <%# カートに入れるボタン %>
            <%= f.submit "カートに入れる", class:"btn" %>
          <% end %>
        <% end %>
      </div>
    </div>