<header>
    <nav class="navbar navbar-expand-lg navbar-left">
        <!--管理人がログインしたとき、管理人専用ページに飛べるリンク-->
        <% if admin_signed_in? %>
        <%= link_to "NaganoCake", admin_top_path %>
        <% else %>
        <%= link_to "NaganoCake", root_path, class:"nav-link text-white" %>
        <% end %>
    </nav>
    <nav>
        <ul class="navbar navbar-expand-lg navbar-right">
        <!--会員がログインしたとき-->
            <% if customer_signed_in? %>
            <p>ようこそ<%= current_customer.family_name %> <%= current_customer.first_name %>さん！</p>
            <li class="nav-item">
                <%= link_to "マイページ", customers_path(current_customer) %>
            </li>
             <li class="nav-item">
                <%= link_to "商品一覧", items_path %>
            </li>
             <li class="nav-item">
                <%= link_to "カート", cart_items_path %>
            </li>
             <li class="nav-item">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
            </li>

            <!--管理人がログインしたとき-->
            <% elsif admin_signed_in? %>
            <li class="nav-item">
                <%= link_to "商品一覧", admin_items_path %>
            </li>
            <li class="nav-item">
                <%= link_to "会員一覧", admin_customers_path %>
            </li>
            <li class="nav-item">
                <%= link_to "注文一覧", admin_orders_path %>
            </li>
            <li class="nav-item">
                <%= link_to "ジャンル一覧", admin_categories_path %>
            </li>
            <li class="nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
            </li>
            <% else %>
            
            <!--会員も管理人もログインしてないとき-->
            <li class="nav-item">
                <%= link_to "About", home_about_path %> 
            </li>
            <li class="nav-item">
                <%= link_to "商品一覧", items_path %>
            </li>
            <li class="nav-item">
                <%= link_to "新規登録", new_customer_registration_path %>
            </li>
            <li class="nav-item">
                <%= link_to "ログイン", new_customer_session_path %>
            </li>
            <% end %>
        </ul>
    </nav>
</header>